
body{
    font-family: 'Montserrat';
    text-align: center;
}

p{
    color: #8f8f8f;
}

h1,h2,h3,h4,h5,h6{
    font-weight: 700;
    
}

h2{
    font-size: 3rem;
    line-height: 1.5;
}

h3{
    font-size: 1.5rem;
    line-height: 1.5;
}

/* Headings */
.big-heading{
    font-weight: 900;
    size: 3.5rem;
    line-height: 1.5;
}

.container-fluid{
    padding: 7% 15%;
}

/* Feature Section */

#features{
    background-color: white;
    position: relative;
    z-index: 1;
}

.features-col{
    text-align: center;
    padding: 3%;
}

.feature-icon{
    color: #ef8172; 
    margin-bottom: 1rem;
}
.feature-icon:hover{
    color: #ff4c68;
}

/* Navigation Bar */

.navbar{
    padding: 0 0 4.5rem;
}

.navbar-brand{
    font-family: 'Ubuntu';
    font-weight: bold;
    font-size: 2.5rem;;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-size: 1.2rem;
    font-weight: 300;
}

/* Download Buttons */

.down-btn{
    margin: 5% 3% 5% 0;
}

/* Title */

#title{
    background-color: #ff4c68;
    color: #fff;
    text-align: left;
}

#title_.container-fluid{
    padding: 3% 15% 7%;
}

.title-img{
    width: 60%;
    right: 25%;
    transform: rotate(25deg);
    position: absolute;
}

/* Testimonials */

#testimonials{
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

/* Press */

#press{
    text-align: center;
    background-color: #ef8172;
    padding-bottom: 3%;
}

.press-logo{
    width: 15%;
    margin: 20px 20px 50px
}

/* Pricing */

#pricing{
    padding: 100px;
    text-align: center;
}

.pricing-column {
    padding: 3% 2%;
}



/* CTA */

#cta{
    background-color: #ff4c68;
    text-align: center;
    color: #fff;
}

/* footer */

#footer{
    background-color: #fff;
    text-align: center;
}

.footer-icon{
    margin: 3% 2%;
}

@media (max-width: 991px){
    .title-img{
        transform: rotate(0);
        position: static;
    }
    #title{
        text-align: center;
    }
}